<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CustomerSupportCenter</title>
</head>
<body>

  <form action="" style="margin: 100px;">

  <div style="padding-:10%;">
    <h1 style="color:purple;font-weight:bold">Contact Our</h1>
    <h1 style="font-weight: bold;">Customer Support Center</h1>
  </div>

  <div style="text-align:center">
    <img src="https://cdn.shopify.com/s/files/1/0214/1369/1456/products/NewProject_32_cfe511e4-8217-4278-b794-0cabe3921a10.jpg?v=1660334307&width=713" alt="Laptop image" width="30%">
</div>

<div style="text-align:center;">
  <h3 >Contact Information</h3>
  <p>please fill out your contact Information below</p><br>
</div>
<div style="margin-left: 0px 20px 20px 30px;">
  <h6>Name <span class="mandatory" style="color:red">*</span></h6>
  <input style="margin-left: 0px;" type="text" placeholder="Enter First Name">
  <input style="margin-left: 20px;" type="text" placeholder="Enter last Name"><br><br><br>
</div>

<div class="form-group">
  <label for="exampleInputEmail">Email <span class="mandatory" style="color: red;">*</span></label>
  <input type="email" class="form-control" id="exampleInputemail" placeholder="Enter Your Email"><br><br>
</div>

<div class="form-group">
  <label for="exampleInputphone">Phone<span class="mandatory" style="color: red;">*</span></label>
  <input type="text" class="form-control" id="exampleInputphone" aria-describedby="emailHelp" placeholder="Enter Your Number"><br><br>

</div>
<div class="form-group">
  <label for="exampleInputAddress">Address<span class="mandatory" style="color: red;">*</span></label>
  <input type="text" class="form-control" id="exampleInputaddress" placeholder="Enter Your Address">
</div>
<div class="form-group form-check">
</div>

<div style="text-align:center">
  <button type="button" class="btn btn-primary btn-lg">Submit Form</button>
</div>
</form>
</body>
</html>